@charset "UTF-8";

  .question-box{
  width: 1100px;
  margin: 0 auto;
  }


  .q1{
  width: 400px;
  height: 400px;
  background: #ff0000;
  display: inline-block;
  }


  .red-box, .r_q7{
  width: 300px;
  height: 300px;
  background: #ff0000;
  }


  .red-box_r_q2{
  display: inline-block;
  width: 300px;
  height: 300px;
  background: #ff0000;
  }


  .r_q4{
  float: left;
  }


  .blue-box, .b_q5{
  width: 300px;
  height: 300px;
  background: #0008ff;
  }


  .b_q3{
  display: inline-block;
  margin-right: 150px;
  }

  .b_q4{
  float: left;
  }

  .b_q7{
  display: none;
  }


  .green-box{
  width: 300px;
  height: 300px;
  background: #22ff00;
  display: inline-block;
  }


  .orenge-box{
  width: 300px;
  height: 300px;
  background: #ff8400;
  }


  .yellow-box{
  width: 300px;
  height: 300px;
  background: #d4ff00;
  order: 2;
  }

  .pink-box{
  width: 300px;
  height: 300px;
  background: #ff00e1;
  order: 3;
  }


  .lightgreen_box{
  width: 300px;
  height: 300px;
  background: #00ff51;
  }

  .lg_q6{
  width: 300px;
  height: 300px;
  background: #00ff51;
  order: 1;
  }


  .clearfix::after{
  content: "";
  display: block;
  clear: both;
  }

  .order{
  display: flex;
  justify-content: center;
  }

  .flex-box{
  display: flex;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}


  .align{
  line-height: 300px;
  text-align: center;
  }

  .center-box{
  text-align: center;
  font-size: 0;
  }



@media screen and (max-width:960px){
  .q1{
    width: 200px;
    height: 200px;
  }

  .red-box_r_q2{
    background: #007bff;
  }

  .b_q3{
  margin-right: 50px;
  }

  .b_q4{
    clear: both;
  }

  .flex-box{
    flex-direction: row-reverse;
  }

  .pink-box{
    order: 1;
  }
  .lightgreen-box{
    order: 2;
  }
  .yellow-box{
    order: 3;
  }

  .b_q7{
    display: block;
  }
  .r_q7{
    display: none;
  }
}

